@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InstrumentSans;
  src: url("src/assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format("opentype");
}

@font-face {
  font-family: InstrumentSans;
  font-style: italic;
  src: url("src/assets/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf") format("opentype");
}

@layer base {
  html {
    font-family: InstrumentSans;
    font-size: 16px;
    line-height: 150%;
  }
}